body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important; 
}

.App {
    background-color: #EAF3F5;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.logo {
    max-width: 100px;
    height: auto;
}

nav {
    background-color: white;
    height: 80px;
}

.navbar-nav .nav-item {
    margin-right: 60px;
}

.navbar-nav .dropdown-toggle::after {
    display: none;
}

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-disabled-color: #fff !important;
}
  
.btn-outline-primary {
    --bs-btn-hover-color: #fff !important;
    --bs-btn-active-color: #fff !important;
}